/* Reset general para asegurar uniformidad */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', serif;
}

/* Body y estructura principal */
body {
  background: #f8f9fa;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 20px;
  font-size: 1rem;
}

/* Contenedor principal */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 15px;
}

/* Estilo de la lista de productos */
ul.product-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul.product-list li {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px;
  width: 260px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ul.product-list li:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* Títulos y encabezados */
h1 {
  color: #2a2a2a;
  margin-bottom: 25px;
  font-size: 2.5rem;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.5rem;
  color: #777;
  font-family: 'Merriweather', serif;
}

/* Estilo de los botones */
button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #5a6268;
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

/* Estilo de los inputs */
input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Formulario */
form {
  background: #ffffff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  transition: transform 0.3s ease;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .container {
    padding: 10px;
  }

  ul.product-list {
    flex-direction: column;
    align-items: center;
  }

  ul.product-list li {
    width: 90%;
  }

  form {
    padding: 20px;
  }
}

/* Animaciones para los botones */
@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

button {
  animation: buttonAnimation 0.5s ease-in-out infinite;
}
